$black-color: #000000;
$white-color: #ffffff;
$silver-color: #c0c0c0;
$red-color: #ff0000;
$skeleton-color: #0000001c;
$orange-color: #ffa500;
$background-color: rgba(192, 192, 192, 0.3);
$none: none;
:root {
  --black-color: #000000;
  --white-color: #ffffff;
  --silver-color: #c0c0c0;
  --red-color: #ff0000;
  --skeleton-color: #0000001c;
  --orange-color: #ffa500;
  --background-color: rgba(192, 192, 192, 0.3);
}
